<div>
  <div class="carouselContainer">
    <div class="slick-carousel">
      <div><img src="images/alpine_14.jpg" /></div>
      <div><img src="images/alpine_3.jpg" /></div>
      <div> <img src="images/alpine_13.jpg" /></div>
      <div> <img src="images/alpine_2.jpg" /></div>
    </div>
  </div>
  <section>
    <article>
      <div>article1</div>
    </article>
    <article>
      <div>article2</div>
    </article>
    <article>
      <div>article3</div>
    </article>
    <article>
      <div>article4</div>
    </article>
  </section>
</div>